.chat-container-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    /* background-color: #147AD6; */
    /* box-shadow: 0 4px 6px rgba(111, 111, 111, 0.5); */
    /* background: rgba(255, 255, 255, 0.2); */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 2;
    justify-content: flex-end; /* выравнивание иконки по правому краю контейнера */
    padding: 1rem;
  }

  .delete-icon .hashtag-icon{
    color: white; /* цвет иконки */
    cursor: pointer; /* изменение курсора при наведении для указания на интерактивность */
    transition: color 0.3s ease; /* плавное изменение цвета при наведении */
  }

.hashtag-icon {
    background-color: transparent !important; /* Убираем фон иконки */
    color: #4a4a4a; /* Цвет иконки */
    cursor: pointer; /* Курсор в виде указателя */
    margin-right: 10px; /* Отступ справа */
}

.dropdown {
    margin-right: 1rem;
}

.ui.dropdown .menu {
    background-color: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.dropdown .item {
    color: #4a4a4a !important; /* Цвет текста элементов списка */
}

  
@media (max-width: 375px) {
    .chat-container-header {
        padding: 0 10px;  /* Меньше отступы для мобильных */
        height: 2;  /* Меньшая высота для мобильных */
    }

    .icons-right {
        gap: 5px;  /* Меньше расстояние между иконками на мобильных */
    }
}